
{% extends 'core/main.html' %}
{% load static %}
{% block content %}


     <div class="display">
        <div class="box">
            <div class="header">
                Professor Info
            </div>
            <div class="form">
                <form method="POST" action="">
                    {% csrf_token %}
                     {% load crispy_forms_tags %}
                     {{ professor|crispy }}
                    <input type="submit" value="Save Here" class="saveButton">
                </form>
            </div>
        </div>

            <img class="gif" alt="books" src="{% static 'media/20135-profesor.gif' %}">
			<div class="margin">
            <div class="viewtable"><p>You can view your added data here.<a href="{% url 'core:professor_view' %}">Click Here</a></p></div>
			</div>

    </div>





{% endblock %}