{% extends 'core/main.html' %}
{% load static %}
{% block content %}


    <div class="container-fluid">

    <div class="search">
        <input type="text" class="searchbox" placeholder="Search...">
        <input type="submit" value="Search" class="searchButton">
        <a href="{% url 'core:add-course' %}"><button class="searchButton">Add Course </button></a>

    </div>


	<div class="table-responsive-lg">
        <table class="table ">
            <thead class="thead-dark">
			<tr>
                <div class="header__item filter__link" >
                   <th scope="col" class="text-center">Course ID</th>

                </div>
                <div class="header__item filter__link">
                  <th class="text-center" scope="col">Course Name</th>

                </div>
                <div class="header__item filter__link">
                   <th class="text-center" scope="col">Course Classe</th>

                </div>
               
                <div class="header__item filter__link">
                    <th class="text-center" scope="col"> Update</th>

                </div>
                <div class="header__item filter__link">
                     <th class="text-center" scope="col">Delete</th>

                </div>
			</tr>	
            </thead>
			
            
			
                {% for corse in course %}
				
				<tr>
                
					
                        <th scope="row" class="table-light text-center">{{ corse.id }}</th>
                    
					
						<th scope="row" class="table-dark text-center"  >{{ corse.nom }}</th>
                       
						<th scope="row" class="table-light text-center"> {{ corse.code_classe.code_classe }}</th>
						
                        <th scope="row" class="table-dark text-center"> <a href="{% url 'core:update-course' corse.id %}" class="btn btn-sm btn-info">Update</a></th>
                   
                        <th scope="row" class="table-light text-center"> <a href="{% url 'core:delete-course' corse.id %}" class="btn btn-sm btn-danger" >Remove</a></th>
                
					</tr>
				
                
                {% endfor %}
            </tbody>
        </table>
</div>
    </div>


{% endblock %}