{% extends 'core/main.html' %}
{% load static %}
{% block content %}
     <div class="display">
        <div class="box">
            <div class="header">
                Classroom
            </div>
            <div class="form">
                <form method="POST" action="">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {{ classroom|crispy }}
                    <input type="submit" value="Save Class" class="saveButton">
                </form>
            </div>
        </div>

            <img class="gif" alt="books" src="{% static 'media/21903-online-class-animation.gif' %}">
            <div class="viewtable"><p>You can view your added classroom here.<a href="{% url 'core:classroom-view' %}">View Classrooms</a></p></div>

    </div>


{% endblock %}
