{% extends 'core/main.html' %}
{% load static %}
{% block content %}

    <div class="deleteBox">
    <h3 id="deleteText">Do You want to delete "{{ delete.code }} - {{ delete.capacite }}"?</h3>
        <form method="POST" action="{% url 'core:delete-classroom' delete.pk %}">

    <input class="deleteButton" type="submit" value="Delete">
        {% csrf_token %}
    <a href="{% url 'core:classroom-view' %}">
    <input class="cancelButton" type="submit" value="Cancel">
    </a>
    </form>
        <div>
     <img class="deletegif" alt="books" src="{% static 'media/12818-file-recover.gif' %}">
            </div>
    </div>


{% endblock %}