{% extends 'core/main.html' %}
{% load static %}
{% block content %}

    <div class="deleteBox">
    <h3 id="deleteText">Do You want to delete "{{ course_delete.code }} /// {{ course_delete.nom }} {{ course_delete.code_classe.nom }}  "?</h3>
        <form method="POST" >

    <input class="btn btn-danger deleteButton" type="submit" value="Delete">
        {% csrf_token %}
    <a href="{% url 'core:add-course' %}">
    <input class="cancelButton btn btn-dark" type="submit" value="Cancel">
    </a>
    </form>
        <div>
     <img class="deletegif" alt="books" src="{% static 'media/12818-file-recover.gif' %}">
            </div>
    </div>


{% endblock %}