{% extends 'core/main.html' %}
{% load static %}
{% block content %}

    <div class="deleteBox">
    <h3 id="deleteText">Do You want to delete "{{ delete.nom }}"?</h3>
        <form method="POST" action="{% url 'core:delete-professor' delete.id %}">

    <input class="btn btn-danger deleteButton" type="submit" value="Delete">
        {% csrf_token %}
    <a href="{% url 'core:professor_view' %}">
    <input class=" btn btn-dark cancelButton" type="submit" value="Cancel">
    </a>
    </form>
        <div>
     <img class="deletegif" alt="books" src="{% static 'media/12818-file-recover.gif' %}">
            </div>
    </div>


{% endblock %}