<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <link href="./styles/style.css" rel="stylesheet">
    <link href="./styles/tables.css" rel="stylesheet">
    <link href="./styles/add.css" rel="stylesheet">
    <link href="./styles/nav.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" src="extensions/sticky-header/bootstrap-table-sticky-header.css">
    <script src="extensions/sticky-header/bootstrap-table-sticky-header.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<title>Home course time App</title>
<body>
    <div class="AuthenBut flex justify-end mx-16 my-8">
      <a href="#"><input type="button" class="text-indigo-500 h-12 border-2 border-indigo-500 rounded-md w-24 font-bold mx-8 bg-white p-2" value="Log In"></a>
      <a href="#"><input type="button" class="text-white h-12 border-2 border-indigo-500 rounded-md w-24  font-bold p-2 bg-indigo-500" value="Sign Up"></a>
    </div>

    <div class="wraperMain mt-32 ">
        <h1 class="text-6xl font-bold flex justify-center align-center">Make your Schedule fastly</h1>
        <p class="text-lg flex justify-center align-center">We have made it easier than ever to create a timetable best suited to your needs.your customized timetable is just one click away.</p>
        <div class="butHome flex justify-center align-center">
          <a href="./schedule.html"><input type="button" class="button" value="Get Started"></a>
          <a href="#courses"><input type="button" class="info bg-indigo-500" value="Add Information"></a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div id="professor_display">
      <div id="professor">
          <h3  class="text-5xl font-bold flex justify-end">Speciality</h3>
          <p id="prof_para"> <pre> {{query}} </pre>.</p>
          <p id="prof_para">Professors data will be saved in the database. You will be directed to the professor form where you will add the information about professor.</p>
          <a href="{% url 'core:add-professor' %}" ><input type="button" class="prof_button" value="Speciality"></a>
      </div>
       <div><img alt="Speciality" id="prof_img" src="./images/home/speciality.png"></div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    
    <div id="course_display">
        <div id="courses">
          <h3  class="text-5xl font-bold flex justify-start mt-16">Courses</h3>
            <p id="para_course">You can easily add courses into database by just clicking the button below. This data will be retrieved while generating the time table.</p>
            <a  href="{% url 'core:add-course' %}"><button class="course_button" >Course</button></a>
        </div>
        <div><img id="course_img" src="./images/home/courses.png"></div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div id="classroom_display">
        <div id="courses">
          <h3  class="text-5xl font-bold flex justify-start mt-16">Classroom</h3>
            <p id="para_course">In this app, You have facility to add more than one class rooms at a time and it will generate the suitable timetable for you which you can access any time in your account.</p>
            <a href="{% url 'core:add-classroom' %}"><button class="course_button">Classroom</button></a>
        </div>
         <div><img  id="course_img" src="./images/home/classroom.png"></div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div id="professor_display">
        <div id="professor">
          <h3  class="text-5xl font-bold flex justify-end mt-16">Teachers</h3>
            <p id="prof_para">Professors data will be saved in the database. You will be directed to the professor form where you will add the information about professor.</p>
            <a href="{% url 'core:add-professor' %}" ><input type="button" class="prof_button" value="Teachers"></a>
        </div>
         <div><img alt="professor" id="prof_img" src="./images/home/professor.gif"></div>
    </div>

    <br>
    <br>
    <br>
    <br>
</body>
</html>