{% extends 'core/main.html' %}
{% load static %}
{% block content %}


    <div class="container-fluid">

    <div class="search">
        <input type="text" class="searchbox" placeholder="Search...">
        <input type="submit" value="Search" class="searchButton">
        <a href="{% url 'core:add-classcourse' %}"><button class="searchButton">Add class </button></a>

    </div>


	<div class="table-responsive-lg">
        <table class="table ">
            <thead class="thead-dark">
			<tr>
                <div class="header__item filter__link" >
                   <th scope="col" class="text-center">Class ID</th>

                </div>
                <div class="header__item filter__link">
                  <th class="text-center" scope="col">Class Name</th>

                </div>
                <div class="header__item filter__link">
                    <th class="text-center" scope="col">groupe</th>
  
                </div>
                <div class="header__item filter__link">
                    <th class="text-center" scope="col"> Effectif </th>
  
                </div>

                <div class="header__item filter__link">
                    <th class="text-center" scope="col"> Update</th>

                </div>
                <div class="header__item filter__link">
                     <th class="text-center" scope="col">Delete</th>

                </div>
                <div class="header__item filter__link">
                    <th class="text-center" scope="col">Generate Timetable</th>

                </div>
                <div class="header__item filter__link">
                    <th class="text-center" scope="col">View Timetable</th>

                </div>
			</tr>	
            </thead>
			
            
			
                {% for section in sections %}
				
				    <tr>
                
					
                        <th scope="row" class="table-light text-center">{{ section.id }}</th>
                    					
						<th scope="row" class="table-dark text-center"  >{{ section.niveau }}</th>


                        <th scope="row" class="table-light text-center"  >{{ section.groupe }}</th>

                        <th scope="row" class="table-dark text-center"  >{{ section.effectif }}</th>
                  
                        <th scope="row" class="table-light text-center"> <a href="{% url 'core:update-classview' section.id %}" class="btn btn-sm btn-info">Update</a></th>
                   
                        <th scope="row" class="table-dark text-center"> <a href="{% url 'core:delete-class' section.id %}" class="btn btn-sm btn-danger" >Remove</a></th>

                        <th scope="row" class="table-light text-center"> <a href="#" class="btn btn-sm btn-danger gentable" data-item={{section.id}}>Generate Timetable</a></th>
                
                        <th scope="row" class="table-dark text-center"> <a href="{#% url 'core:timetable' section.id %}" class="btn btn-sm btn-danger" >View Timetable</a></th>

					</tr>
				
                
                {% endfor %}
            </tbody>
        </table>
</div>
    </div>


{% endblock %}