{% extends 'core/main.html' %}
{% load static %}
{% block content %}


    <div class="container-fluid">

    <div class="search">
        <input type="text" class="searchbox" placeholder="Search...">
        <input type="submit" value="Search" class="searchButton">
        <a href="{% url 'core:add-professor' %}"><button class="searchButton">Add </button></a>

    </div>



        <div class="table  text-center">
            <div class="table-header">
                <div class="header__item filter__link">
                   Professor Matricule

                </div>
                <div class="header__item filter__link">
                    Professor Name

                </div>
                <div class="header__item filter__link">
                    Update

                </div>
                <div class="header__item filter__link">
                    Delete

                </div>
            </div>
            <div class="tab-content">
                {% for prof in professor1 %}
                <div class="table-row text-center">
                    <div class="table-data">
                        {{ prof.matricule }}
                    </div>
                    
                    <div class="table-data">
                        {{ prof.nom}}
                    </div>
   
                    <div class="table-data">
                       <a href="{% url 'core:update-professor' prof.id %}" class="btn btn-sm btn-info">Update</a>
                    </div>
                    <div class="table-data">
                       <a href="{% url 'core:delete-professor' prof.id %}" class="btn btn-sm btn-danger" >Remove</a>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}